### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json


### Intellij ###
.idea/
*.iml

## File-based project format:
*.iws

# IntelliJ
/out/